﻿@using (Html.BeginForm("Upload", "Uploader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        This is a test message for Uploader!!
    </p>
    <p>
        @Html.Label("Email:")
        @Html.TextBox("txtEmail")

        @Html.Label("Contact Number:")
        @Html.TextBox("txtContact")

        @Html.Label("Enter password for documents uploaded")
        @Html.Password("txtPassword")

    </p>
    <input type="file" name="fileUploader1" />
    <input type="file" name="fileUploader2" />
    <input type="file" name="fileUploader3" />
    <input type="submit" value="Upload"/>
}